.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;

}
.user-profile :hover
{
    background-color: lightgray;
}

.user-img {
    width: 45px;
    
}
.user-img > img {
    width: 100%;
    border-radius: 30%;
}
.user-info {
     /* display: flex;
     margin-left: 8px;
     gap: 30%;
     */
    /* text-align: right; */
    margin-left: 10px;
   
    /* flex: 1;
    text-align: left;
    margin-left: 10px; */
}

.user-name {
    text-transform: capitalize;
    font-size: 15px;
}